git+https://github.com/Rapptz/discord.py.git
asyncpg
git+https://github.com/nennneko5787/aiokyasher
git+https://github.com/nennneko5787/aiopaypaython
python-dotenv
fastapi[all]
cryptography
snowflake-id
orjson
emoji
